<template name="ordersList">
  <div id="ordersTable" class='responsive-table' style="display:none">
    <div class='scrollable-area'>
      <table class='table table-hover table-striped' style='margin-bottom:0;'>
        <thead>
          <tr>
            <th>
              Name
            </th>
            <th>
              Item Ordered
            </th>
            <th>
              Amount
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each tableOrders}}
          <tr>
            <td>{{guest}}</td>
            <td>{{itemName}}</td>
            <td>{{itemPrice}}</td>
          </tr>
          {{/ each}}
        </tbody>
      </table>
    </div>
  </div>
</template>