<template name="paymentSummary">
	      
<div class='row'>
  <div class='col-sm-12'>
    <div class='page-header'>
      <h1 class='pull-left'>
        <i class='icon-dollar'></i>
        <span>Payments</span>
      </h1>

    </div>
  </div>
</div>

<div class="row">
	<div class='col-sm-3 col-xs-6 col-xs-offset-3 col-sm-offset-4'>
	  <div class='tableTotal box-content box-statistic text-right red-background'>
	    <small class='numberOfGuests text-error'>{{guestBallance.length}} Guests</small>
	    <h3 class='total title text-error'>${{tableBallance.ballance}}</h3>
	    <div class='text-error icon-group align-left'></div>
	  </div>
	</div>
</div>

<div class="row">
  <div class='col-sm-12 '>
	{{>ordersList}}
  </div>
</div>

<hr>

<div id="sortRow" class='row' >

    <div>
    	<div class='text-center'>
    	  <h2>Split Tab:</h2>
    	</div>
    	<div id="sorts" class="button-group text-center">
    	  <button class="stdSort btn active" data-sort-value="name">Equally</button>
    	  <button class="stdSort btn" data-sort-value="number">By Orders</button>
    	  <button class="customSort btn" data-sort-value="custom" >Custom</button>
    	</div>
      <div id="paymentOptions" style="display:none;">
        <div id="bitcoin" class="col-sm-4 col-md-2 col-xs-4 payments" >
          <a href='#'>
            <img src="pepsized_bitcoin03.png">
          </a>
        </div>
          <div id="creditcard" class="col-sm-4 col-md-2 col-xs-4 payments" >
            <a href='#'>
              <img src="pepsized_paybycreditcard.png">
            </a>
          </div>
          <div id="dwolla" class="col-sm-4 col-md-2 col-xs-4 payments" >
            <a href='#'>
              <img src="pepsized_dwolla.png">
            </a>
          </div>
          <div id="paypal" class="col-sm-4 col-md-2 col-xs-4 payments" >
            <a href='#'>
              <img src="pepsized_paypal.png">
            </a>
          </div>
          <div id="square" class="col-sm-4 col-md-2 col-xs-4 payments" >
            <a href='#'>
              <img src="pepsized_square.png">
            </a>
          </div>
          <div id="googlewallet" class="col-sm-4 col-md-2 col-xs-4 payments" >
            <a href='#'>
              <img src="pepsized_googlewallet.png">
            </a>
          </div>
      </div>
    </div>

</div>

<hr>

<div class='row'>
	<div class="isotope">
		{{#each guestBallance}}
	  <div class="payBox col-sm-2 col-md-1 col-xs-4" data-iTab="{{this.[1]}}" data-category="transition">
	  	<a class="quick-button-small " href='#'>
		    <h3 class="name">{{this.[0]}}</h3>
		    <h5 class="number">${{eqBallance}}</h5>
		    <span class="icon-user notification red"></span>
	    </a>
	  </div>
	  {{/ each}}
	</div>
</div>

<div class='modal fade' id='customBillModal' tabindex='-1'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button aria-hidden='true' class='close' data-dismiss='modal' type='button'>×</button>
        <h4 class='modal-title text-center' id='myModalLabel'>Custom Payment</h4>
      </div>

      <div class="row">
      	<div class='col-sm-3 col-xs-6 col-xs-offset-3 col-sm-offset-4'>
      	  <div class='tableTotalModal box-content box-statistic text-right red-background'>
      	    <small class='numberOfGuests text-error'>{{guestBallance.length}} Guests</small>
      	    <h3 class='modalTotal title text-error'>${{tableBallance.ballance}}</h3>
      	    <div class='text-error icon-group align-left'></div>
      	  </div>
      	</div>
      </div>

      <div class='modal-body'>

      	<div class='tabbable'>
      	  <ul class='nav nav-tabs nav-tabs-centered'>
      	    <li class='active'>
      	      <a data-toggle='tab' href='#basic'>
      	        <i class='icon-indent-left'></i>Basic</a>
      	    </li>
      	    <li>
      	      <a data-toggle='tab' href='#advanced'>
      	        <i class='icon-edit text-red'></i>Advanced</a>
      	    </li>
      	  </ul>
      	  <div class='tab-content'>
      	    <div class='tab-pane active' id='basic'>
	          <form id="customTabForm" class="form-horizontal">
	            <fieldset>
	        	{{#each guestBallance}}
	        	<div class="form-group">
	        	  <label class="col-md-4 col-xs-4 control-label" for="textinput">{{this.[0]}}</label>  
	        	  <div class="col-md-4 col-xs-8">
	        	  	<div class='input-group'>
	        	  		<span class='input-group-addon'>$</span>
	  	      	  <input name="textinput" type="number" placeholder="Enter Amount" class="customInput form-control input-md">
	  	      	</div>
	        	  </div>
	        	</div>
	        	{{/ each}}
	        	<div class='modal-footer'>
	        	  <button class='btn btn-default' data-dismiss='modal' type='button'>Cancel</button>
	        	  <button id="basicSubmit" class='btn btn-primary disabled' type='submit'>Ok</button>
	        	</div>
	            </fieldset>
	          </form>
      	    </div>
      	    <div class='tab-pane' id='advanced'>
      	        <div id="ordersTable" class='responsive-table' >
                  <div class='scrollable-area'>
                    <table class='table table-hover table-striped' style='margin-bottom:0;'>
                      <thead>
                        <tr>
                          <th>
                            Name
                          </th>
                          <th>
                            Price
                          </th>
                          <th>
                            Split
                          </th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        {{#each tableOrders}}
                        <tr class="orders" data-orderID="{{this._id}}">
                          <td>{{itemName}}</td>
                          <td>{{itemPrice}}</td>
                          <td class="splitTotal">0</td>
                        </tr>
                          {{#each guestBallance}}
                          <tr class="guests" style="display:none">
                            <td class="text-center"><input class="checkbox pull-right" type="checkbox">{{this.[0]}}</td>
                          </tr>
                          {{/ each}}
                        {{/ each}}
                      </tbody>
                    </table>
                    <div class='modal-footer'>
                      <button class='btn btn-default' data-dismiss='modal' type='button'>Cancel</button>
                      <button id="advSubmit" class='btn btn-primary disabled' type='submit'>Ok</button>
                    </div>
                  </div>
                </div>
      	    </div>
      	  </div>
      	</div>

      </div>
    </div>
  </div>
</div>

</template>

