<template name="test">
  <!-- Inner Content -->
  <div class="inner-page padd">
    
      <div class="shopping">
        <div class="container">
          <div class="shopping-content">
            <ul class="bxslider">
              <li>
                <div class="col-md-3 col-sm-6">
                  <!-- Shopping items -->
                  <div class="shopping-item">
                    <!-- Image -->
                    <a href="item-single.html"><img class="img-responsive" src="img/shopping/shop1.jpg" alt="" /></a>
                    <!-- Shopping item name / Heading -->
                    <h4 class="pull-left"><a href="item-single.html">Byances Kcepte</a></h4>
                    <span class="item-price pull-right">$31</span>
                    <div class="clearfix"></div>
                    <!-- Paragraph -->
                    <p>Lorem ipsum dolor sit amet, conse ctetur adipis cicing elit.</p>
                    <!-- Buy now button -->
                    <div class="visible-xs">
                      <a class="btn btn-danger btn-sm" href="#">Buy Now</a>
                    </div>
                    <!-- Shopping item hover block & link -->
                    <div class="item-hover br-red hidden-xs"></div>
                    <a class="link hidden-xs" href="#">Add to cart</a>
                    <!-- Hot tag -->
                    <span class="hot-tag br-red">Hot</span>
                  </div>
                </div>
              </li>
              <li>
                <div class="col-md-3 col-sm-6">
                  <!-- Shopping items -->
                  <div class="shopping-item">
                    <!-- Image -->
                    <a href="item-single.html"><img class="img-responsive" src="img/shopping/shop2.jpg" alt="" /></a>
                    <!-- Shopping item name / Heading -->
                    <h4 class="pull-left"><a href="item-single.html">Byances Kcepte</a></h4>
                    <span class="item-price pull-right">$31</span>
                    <div class="clearfix"></div>
                    <!-- Paragraph -->
                    <p>Lorem ipsum dolor sit amet, conse ctetur adipis cicing elit.</p>
                    <!-- Buy now button -->
                    <div class="visible-xs">
                      <a class="btn btn-danger btn-sm" href="#">Buy Now</a>
                    </div>
                    <!-- Shopping item hover block & link -->
                    <div class="item-hover br-red hidden-xs"></div>
                    <a class="link hidden-xs" href="#">Add to cart</a>
                    <!-- Hot tag -->
                    <span class="hot-tag br-red">Hot</span>
                  </div>
                </div>
              </li>
              <li>
                <div class="col-md-3 col-sm-6">
                  <!-- Shopping items -->
                  <div class="shopping-item">
                    <!-- Image -->
                    <a href="item-single.html"><img class="img-responsive" src="img/shopping/shop3.jpg" alt="" /></a>
                    <!-- Shopping item name / Heading -->
                    <h4 class="pull-left"><a href="item-single.html">Byances Kcepte</a></h4>
                    <span class="item-price pull-right">$31</span>
                    <div class="clearfix"></div>
                    <!-- Paragraph -->
                    <p>Lorem ipsum dolor sit amet, conse ctetur adipis cicing elit.</p>
                    <!-- Buy now button -->
                    <div class="visible-xs">
                      <a class="btn btn-danger btn-sm" href="#">Buy Now</a>
                    </div>
                    <!-- Shopping item hover block & link -->
                    <div class="item-hover br-red hidden-xs"></div>
                    <a class="link hidden-xs" href="#">Add to cart</a>
                    <!-- Hot tag -->
                    <span class="hot-tag br-red">Hot</span>
                  </div>
                </div>
              </li>
              <li>
                <div class="col-md-3 col-sm-6">
                  <!-- Shopping items -->
                  <div class="shopping-item">
                    <!-- Image -->
                    <a href="item-single.html"><img class="img-responsive" src="img/shopping/shop5.jpg" alt="" /></a>
                    <!-- Shopping item name / Heading -->
                    <h4 class="pull-left"><a href="item-single.html">Byances Kcepte</a></h4>
                    <span class="item-price pull-right">$31</span>
                    <div class="clearfix"></div>
                    <!-- Paragraph -->
                    <p>Lorem ipsum dolor sit amet, conse ctetur adipis cicing elit.</p>
                    <!-- Buy now button -->
                    <div class="visible-xs">
                      <a class="btn btn-danger btn-sm" href="#">Buy Now</a>
                    </div>
                    <!-- Shopping item hover block & link -->
                    <div class="item-hover br-red hidden-xs"></div>
                    <a class="link hidden-xs" href="#">Add to cart</a>
                    <!-- Hot tag -->
                    <span class="hot-tag br-red">Hot</span>
                  </div>
                </div>
              </li>
              <li>
                <div class="col-md-3 col-sm-6">
                  <!-- Shopping items -->
                  <div class="shopping-item">
                    <!-- Image -->
                    <a href="item-single.html"><img class="img-responsive" src="img/shopping/shop6.jpg" alt="" /></a>
                    <!-- Shopping item name / Heading -->
                    <h4 class="pull-left"><a href="item-single.html">Byances Kcepte</a></h4>
                    <span class="item-price pull-right">$31</span>
                    <div class="clearfix"></div>
                    <!-- Paragraph -->
                    <p>Lorem ipsum dolor sit amet, conse ctetur adipis cicing elit.</p>
                    <!-- Buy now button -->
                    <div class="visible-xs">
                      <a class="btn btn-danger btn-sm" href="#">Buy Now</a>
                    </div>
                    <!-- Shopping item hover block & link -->
                    <div class="item-hover br-red hidden-xs"></div>
                    <a class="link hidden-xs" href="#">Add to cart</a>
                    <!-- Hot tag -->
                    <span class="hot-tag br-red">Hot</span>
                  </div>
                </div>
              </li>
              <li>
                <div class="col-md-3 col-sm-6">
                  <!-- Shopping items -->
                  <div class="shopping-item">
                    <!-- Image -->
                    <a href="item-single.html"><img class="img-responsive" src="img/shopping/shop7.jpg" alt="" /></a>
                    <!-- Shopping item name / Heading -->
                    <h4 class="pull-left"><a href="item-single.html">Byances Kcepte</a></h4>
                    <span class="item-price pull-right">$31</span>
                    <div class="clearfix"></div>
                    <!-- Paragraph -->
                    <p>Lorem ipsum dolor sit amet, conse ctetur adipis cicing elit.</p>
                    <!-- Buy now button -->
                    <div class="visible-xs">
                      <a class="btn btn-danger btn-sm" href="#">Buy Now</a>
                    </div>
                    <!-- Shopping item hover block & link -->
                    <div class="item-hover br-red hidden-xs"></div>
                    <a class="link hidden-xs" href="#">Add to cart</a>
                    <!-- Hot tag -->
                    <span class="hot-tag br-red">Hot</span>
                  </div>
                </div>
              </li>
              <li>
                <div class="col-md-3 col-sm-6">
                  <!-- Shopping items -->
                  <div class="shopping-item">
                    <!-- Image -->
                    <a href="item-single.html"><img class="img-responsive" src="img/shopping/shop8.jpg" alt="" /></a>
                    <!-- Shopping item name / Heading -->
                    <h4 class="pull-left"><a href="item-single.html">Byances Kcepte</a></h4>
                    <span class="item-price pull-right">$31</span>
                    <div class="clearfix"></div>
                    <!-- Paragraph -->
                    <p>Lorem ipsum dolor sit amet, conse ctetur adipis cicing elit.</p>
                    <!-- Buy now button -->
                    <div class="visible-xs">
                      <a class="btn btn-danger btn-sm" href="#">Buy Now</a>
                    </div>
                    <!-- Shopping item hover block & link -->
                    <div class="item-hover br-red hidden-xs"></div>
                    <a class="link hidden-xs" href="#">Add to cart</a>
                    <!-- Hot tag -->
                    <span class="hot-tag br-red">Hot</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
  </div>


</template>