<template name="test">
<!-- <div id="st-container" class="st-container st-effect-11"> -->
  <!--  
    example menus 
    these menus will be on top of the push wrapper
  -->
  


  <!-- content push wrapper -->
  <div class="st-pusher">
    <!--  
      example menus 
      these menus will be under the push wrapper
    -->

    <div class="st-content"><!-- this is the wrapper for the content -->
      <div class="st-content-inner"><!-- extra div for emulating position:fixed of the menu -->
        <!-- Top Navigation -->
        <div class="main clearfix">
          <div class="column">
            <p>Sidebar menus or off-canvas navigations can be revealed in many creative ways.</p>
            <p>Here is some inspiration for showing them in style using CSS transitions.</p>
          </div>
        </div><!-- /main -->
      </div><!-- /st-content-inner -->
    </div><!-- /st-content -->
  </div><!-- /st-pusher -->
<!-- </div> --><!-- /st-container -->

</template>

