<template name="table">
<div class='col-sm-4' data-lastRead=''>
  <div class='box box-bordered box-nomargin'>
    <div class='box-header box-header-small blue-background'>
      <div class='title'>
        <i class='icon-map-marker'></i>
        Table: {{tableNumber}} / Code: {{code}}
      </div>
      <div class='actions'>
        <a class="btn btn-xs btn-link comment" data-toggle='modal' data-code="{{code}}" href='#messageModal' role='button'><i class='icon-comment'></i></a>
        <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i></a>
        
        <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
        </a>
      </div>
    </div>
    <div class='box-content'>
        <ul class="list-group">
          <li class="list-group-item">
            <a class='dropdown-collapse guests' href='#'>
              <i class='icon-group'></i>
              <span>Guests</span>
              <span class="badge pull-right">{{numberOfGuests}}</span>
              <i class='icon-angle-right angle-down '></i>
            </a>
            <ul class='nav nav-stacked' style="display: none">
              {{#each myGuests}}
              <li class='guest'>
                <a href='ui_elements.html'>
                  <i class='icon-user'></i>
                  <span>{{this}}</span>
                </a>
              </li>
              {{/each}}
            </ul>
          </li>

          <li class="msg list-group-item">
            <a class='dropdown-collapse messages' href='#'>
              <i class='icon-comments'></i>
              <span>Messages</span>
              <span class="msgCount badge badge-warning pull-right">{{messageCount}}</span>
              <i class='icon-angle-right angle-down '></i>
            </a>
            <ul class='nav nav-stacked' style="display: none">
              <div class='chat'>
              <div class='scrollable' data-scrollable-height='300' data-scrollable-start='bottom'>
                <ul class='list-unstyled list-hover list-striped'>
                  {{#each myMessages}}

                  <li class='message'>
                    <div class='avatar'>
                      <i class='icon-user'></i>
                    </div>
                    <div class='name-and-time'>
                      <div class='name pull-left'>
                        <small>
                          <a class="text-contrast" href="#">{{guest}}</a>
                        </small>
                      </div>
                      <div class='time pull-right'>
                        <small class='msg date pull-right text-muted'>
                          {{submitted}}
                          <i class='icon-time'></i>
                        </small>
                      </div>
                    </div>
                    <div class='body'>
                      {{messageText}}
                    </div>
                  </li>

                  {{/each}}
                </ul>
              </div>
              </div>
            </ul>
          </li>

          <li class="order list-group-item">
            <a class='dropdown-collapse messages' href='#'>
              <i class="icon-food"></i>
              <span>Orders</span>
              <span class="orderCount badge badge-info pull-right">{{orderCount}}</span>
              <i class='icon-angle-right angle-down '></i>
            </a>
            <ul class='nav nav-stacked' style="display: none">
              <div class='chat'>
              <div class='scrollable' data-scrollable-height='300' data-scrollable-start='bottom'>
                <ul class='list-unstyled list-hover list-striped'>
                  {{#each tableOrders}}

                  <li class='message'>
                    <div class='avatar'>
                      <i class='icon-user'></i>
                    </div>
                    <div class='name-and-time'>
                      <div class='name pull-left'>
                        <small>
                          <a class="text-contrast" href="#">{{guest}}</a>
                        </small>
                      </div>
                      <div class='time pull-right'>
                        <small class='order date pull-right text-muted'>
                          {{submitted}}
                          <i class='icon-time'></i>
                        </small>
                      </div>
                    </div>
                    <div class='body'>
                      {{itemName}}
                      <div class='btn-group pull-right'>
                        <button class='btn btn-success'>
                          <i class='icon-thumbs-up-alt'></i>
                        </button>
                        <button class='btn btn-danger'>
                          <i class='icon-thumbs-down-alt'></i>
                        </button>
                        <button class='btn btn-primary'>
                          <i class='icon-pencil'></i>
                        </button>
                      </div>
                    </div>
                  </li>

                  {{/each}}
                </ul>
              </div>
              </div>
            </ul>
          </li>

          <li class="list-group-item">
              <span class="badge badge">${{tableTab}}</span>
              <i class="icon-dollar"></i>
              Tab
          </li>
        </ul>
    </div>
  </div>
</div>

</template>