<template name="reDirect">
        <!-- Body Wrapper -->
    <div class="wrapper white">
          
      <!-- Inner Page Content // Start -->
      
      <div class="inner-page">
        <div class="container">
          <div class="page-mainbar login">
            <!-- Login/Register Content -->
            <div class="login-content">
              <!-- Content for each menu item -->
              <div class="tab-content">
                <!-- First Content for Nav bar -->
                <div class="tab-pane fade in active br-black" id="login">
                  <!-- Heading -->
                  <h2>Lets Eat</h2>
                  <!-- Sign in Form Start -->
                  <form id="accessForm" class="form-horizontal" role="form">

                    <div class="form-group">
                      <div class="col-sm-12">
                        <input type="name" class="form-control" id="name" placeholder="Enter Your Name" required>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-sm-12">
                        <input type="number" class="form-control" minlength="10" id="tableCode" placeholder="Enter Your Table Code">
                      </div>
                    </div>

                    <div class="form-group text-center">
                      <div class="col-sm-12">
                        <button id="submit" type="submit" class="btn btn-primary btn-lg">Go</button>
                      </div>
                    </div>
                  </form>
                  <!-- Sign in form End -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Inner Page Content // End -->
      
    </div>

</template>


