.flip_panel {

	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 600px;
}
/* -- make sure to declare a default for every property that you want animated -- */
/* -- general styles, including Y axis rotation -- */
.flip_panel .front {
	float: none;
	position: absolute;
	z-index: 900;

	-webkit-transform: rotateX(0deg) rotateY(0deg);
		 -moz-transform: rotateX(0deg) rotateY(0deg);
					transform: rotateX(0deg) rotateY(0deg);

	-webkit-transform-style: preserve-3d;
		 -moz-transform-style: preserve-3d;
					transform-style: preserve-3d;

	-webkit-backface-visibility: hidden;
		 -moz-backface-visibility: hidden;
					backface-visibility: hidden;

	/* -- transition is the magic sauce for animation -- */
	-webkit-transition: all .4s ease-in-out;
					transition: all .4s ease-in-out;
}
.flip_panel.flip .front {
	z-index: 900;

	-webkit-transform: rotateY(180deg);
		 -moz-transform: rotateY(180deg);
					transform: rotateY(180deg);
}

.flip_panel .back {
	float: none;
	position: absolute;
	top: 0px;
	height: 100%;
	overflow-y: hidden;
	/*border: 4px solid #eee;*/


	-webkit-transform: rotateY(-180deg);
		 -moz-transform: rotateY(-179deg); /* setting to 180 causes an unnatural-looking half-flip */
					transform: rotateY(-179deg);

	-webkit-transform-style: preserve-3d;
		 -moz-transform-style: preserve-3d;
					transform-style: preserve-3d;

	-webkit-backface-visibility: hidden;
		 -moz-backface-visibility: hidden;
					backface-visibility: hidden;

	/* -- transition is the magic sauce for animation -- */
	-webkit-transition: all .4s ease-in-out;
					transition: all .4s ease-in-out;
}

.flip_panel.flip .back {
	z-index: 1000;

	-webkit-transform: rotateX(0deg) rotateY(0deg);
		 -moz-transform: rotateX(0deg) rotateY(0deg);
					transform: rotateX(0deg) rotateY(0deg);

}

/* -- contact flip_panel -- */
.contact {
/*width: 290px;
height: 240px;*/
}

/* -- cosmetics -- */
.flip_panel .pad {padding: 0 15px; height: 100%;}
.flip_panel.flip .action {display: none; }
.block ol li {text-align: left; margin: 0 0 0 28px; }
.block .action {display: block; padding: 3px; background: #333; text-align: right; font-size: .8em; opacity: 0; position: absolute; cursor: pointer; -webkit-transition: opacity .2s linear; }
.block:hover .action {opacity: .7; }