<template name="menuRoot">

    <div class="inner-page padd">
      <!-- Shopping Start -->
      <div class="shopping">
        <div class="container">
          <!-- Shopping items content -->
          <div class="shopping-content">
            <ul class="bxslider">
              
                   <!-- Shopping items -->
                   {{# each menuItems}}
                       {{> item}}
                   {{/each}}
              
            </ul>
          </div>
        </div>
      </div>
    <!-- Shopping End -->
    </div><!-- / Inner Page Content End --> 


</template>
